<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

 

    <head>
        <div class="cabecalho">
            <div class="logo">
                <h2>GIGABURGER</h2>
            </div>
            <div class="links">
                <ul>
                     <li><a href="/">INÍCIO</a></li>
                     <li><a href="/cardapio">CARDÁPIO</a></li>
                     <li><a href="/deletarReserva">CANCELAR RESERVA</a></li>
                     <li><a href="/buscarReserva">CONSULTAR RESERVA</a></li>
                     <li><a href="/sobre">SOBRE</a></li>
                     <li><a href="/deleteAll">DELETAR TUDO</a></li>
                      
                </ul>
            </div>
        </div>
    </head>
        {{{body}}}

        <script src="js/script.js" defer></script>

    <footer>
     <div class="rodape">
          <p>&copy; <h2>GIGABURGER</h2></p>
     </div>
    </footer>
       
</body>
</html>