            <div class="buscar">
                <h2>BUSCAR RESERVA</h2>
                <div class="form">
                    <form action="/buscarReserva" method="get">
                        <input type="text" name="nome" id="nome_busca" placeholder="digite o nome" required>
                        <input type="email" name="email" id="email_busca" placeholder="digite o email" required>
                        <div class="botao">
                            <input type="submit" value="buscar">
                        </div>
                     
                    </form>
                     <div class="lista_reservas">
                            
                     </div>
                      
                </div>
                
            </div>