<div class="body">
    <div class="cardapio">
        <h2>CARDÃPIO</h2>
        <div class="lista_cardapio">
           <div class="hamburger">
            <h2>hamburgeres</h2>
              <ul>
            <li>hamburger da casa   <span>30.00</span></li>
            <li> combo mini burger    <span>30.00</span></li>
            <li>hamburger dubplo + batata frita  <span>30.00</span></li>
            <li>combo hamburger + batata + regrigerante 350ml <span>30.00</span></li>
            
              </ul>
           </div>
           <div class="batatas">
            <h2>batatas</h2>
               <ul>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
         </ul>
           </div>
           <div class="bebidas">
            <h2>bebidas</h2>
               <ul>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
            <li>hamburger da casa   <span>30.00</span></li>
         </ul>
           </div>
        </div>
     
    </div>
</div>