<div class="body">
    <div class="cardapio">
        <h2>CARDÁPIO</h2>
        <div class="lista_cardapio">
           <div class="hamburger">
            <h2>hamburgeres</h2>
              <ul>
            <li>hamburger da casa   <span>22.00</span></li>
            <li>combo mini burger 6 unidades   <span>30.00</span></li>
            <li>hamburger dubplo + batata frita  <span>35.00</span></li>
            <li>combo hamburger + batata + regrigerante 350ml <span>42.00</span></li>
            
              </ul>
           </div>
           <div class="batatas">
            <h2>batatas</h2>
               <ul>
            <li>porção bata frita individual   <span>15.00</span></li>
            <li>porção bata frita media   <span>20.00</span></li>
            <li>porção bata frita grande   <span>26.99</span></li>
            <li>porção bata frita com chedder e bacon  <span>30.00</span></li>
           
           </div>
           <div class="bebidas">
            <h2>bebidas</h2>
               <ul>
            <li>coca-cola lata 350  <span>7.00</span></li>
            <li>suco natural 500ml  <span>10.00</span></li>
            <li>cerveja heineken ln 355ml  <span>12.00</span></li>
            <li>cerveja eisenban ln 355ml   <span>12.00</span></li>
            <li>shopp amstel 500ml  <span>30.00</span></li>
            <li>cerveja amstel garrafa 600ml  <span>18.00</span></li>
         </ul>
           </div>
        </div>
     
    </div>
</div>