<div class="delete">
    <h2>CANCELAR RESERVA</h2>
    <div class="form">
        <form action="/deletarReserva" method="post">
            <input type="text" name="nome" id="nome_cancelar" placeholder="digite o nome" required>
            <input type="email" name="email" id="email_cancelar" placeholder="digite o email" required>
            <div class="botao">
                <input type="submit" value="deletar">
            </div>
        </form>
         <div class="feedback">
           <p id="feedback" style="color: white; font-weight: bold;"></p>
           </div>
    </div>
   
</div>