<div class="deleteAll">
  <div class="deletetudo">
      <h2>delete todos os registros</h2>

  <div class="formdelete">
      <form action="/deleteAll" method="post">
      <div class="redbutton">
        <input type="submit" value="deletar tudo">
      </div>
    </form>
  </div>
  </div>

</div>