<div class="sobre">
   
    <h2>VENHA HOJE MESMO CONHECER NOSSO ESPAÇO!</h2>
    <div class="endereco">
      
       <div class="lista_endereco">
       <div class="horario">
        
           <ul>
            <li><span>rua:</span> tecnologia, 8080</li>
            <li><span>jd:</span> vale do silício</li>
            <li><span>cidade </span>tecnocity</li>
            <li><span>cep:</span>192.168.1.1</li>
         </ul>
            
        
            <ul>
                <li><span>horario de atendimento:</span>de quinta a domingo das 17:00 as 23:30</li>
                <li><span>telefone:</span>119011001-0101</li>
            </ul>
        
       </div>
      
      </div>
    </div>
</div>