* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #ccc;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    
    
}

.logo {
    text-shadow: 1px 1px 2px black;
    margin: 1em 0;
}

.links {
    width:auto;
    
}

.links ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
     flex-wrap: wrap;
}

.links ul li {
    padding: 1em 2em;
    list-style: none;
}

.links a {
    color: #ccc;
    text-decoration:  none;
    transition: 1s;
}

.links a:hover {
    color: orange;
}

body {
    height: 100%;
    width: 100%;
    background-color: #000;
   
    flex-wrap: wrap;
}

.body {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:auto;
    width: 100%;
    margin: 0 auto;
    min-width: 100% ;
    flex-wrap: wrap;
}

.foto img{
    width:100%;
    height: auto ;
    max-width: max-content;
 
   
}

.texto_imagem {
    text-shadow: 3px 3px 5px orangered;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 30%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    color: orange;
    font-size: 30px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0); /* Fundo semitransparente */
    
    border-radius: 5px;
}

.texto_imagem h2 {
    margin: 0 20%;
}


.form {
    display: block;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    width:100%;
    height: auto;
    padding: 4em 0;
    filter: drop-shadow(2px 2px 3px black);
    box-shadow: 2px 2px 4px black;
    border-radius: 80px;
    text-align: center;
    margin:5em auto;
    

    
    
}

.form h2 {
    text-align: center;
}

form {
  display: block;
  justify-content: center;
  max-width: 700px;
  min-width: 400px;
  width: 100%;
  margin:0 auto ;
  padding:5em 3em  ;
  align-items: center;
  height: 100%;
 
  
}


.form .voltar a {
    color: #fff;
    text-decoration: none;
    padding: 2em 0;
    font-size: 18px;
    
}

.inputs {
    
    margin: 0 auto;
    width: 80% ;
    
}

 input{
    margin: 10px 10px;
    border: none;
    text-align: center;
    border-radius: 10px;
    width:80%;
    max-width: 400px;
    
    height: 50px;
}

::placeholder {
    text-align: center;
    width: auto;
}

.botao {
   margin: 0 auto;
   max-width: 300px;
   min-width: 100px;
  
}

.botao input {
    background-color: green;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    
}



.registro a {
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.lista_usuarios {
    margin: 2em auto;
    height: auto;
    width: auto;
}

.lista_usuarios ul li, p {
    color: #333;
    list-style: none;
    
}


.home {
    color: #333;
    text-align: center;
    margin: 2em 0;
    height: auto;
}

.main_admin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 0;
}

.cardapio{
    display: block;
    justify-content: space-around;
    color: #ccc;
    margin: 3em 0;
    padding: 30px 0;
    height: auto;
}



 .lista_cardapio {
   width:auto;
   display: block;
   margin:  4em 0;
   padding:10px 0;
   position: relative;
     
}

.lista_cardapio h2 {
    text-align: center;
}

 .lista_cardapio ul {
    margin: 2em 0;
    width:99.9%;
    height: auto;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #333;  
}

.lista_cardapio ul li {
   margin:3em 2em;
   border-bottom: 1px solid #fff;
   width: auto;
 flex-wrap: wrap;
}

.lista_cardapio span {
    align-items: center;
    margin: 0 auto;
    color: orange;
    width: 0 auto;
    
}


 .hamburger,
 .batatas,
 .bebidas  ul li{
   text-align: start;
  
 }

 .hamburger ul li span,
 .batatas ul li span,
 .bebidas ul li span {
   text-align: center;
   font-size: 20px;
   padding: 0 90%;
   margin: 0 auto;
}

.lista_reservas {
    margin: 2em 0;
   
    text-align: center;
}

 .titleList h2 {
  color: orange;
  text-align: center;
  margin: 2em;
}


.lista_reservas p {
    
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

.lista_reservas p strong {
    color: orange; /* Cor mais escura para o texto em negrito */
    
    margin: 0 10px;
}

.lista_reservas p {
    
    color: white; /* Cor para o texto normal */

}

.lista_reservas p.error {
    color: red;
    font-weight: bold;
}

.lista_reservas p.success {
    color: green;
    font-weight: bold;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1px;
    border: 1px solid white;
    width:auto;
    max-width:1450px;
    margin: 2em;
    box-sizing: border-box;
}

.sublista {
    width:auto;
    margin: 7px 0;
    border: 1px solid orange;
   
}

.lista span {
    text-align: left;
    color: orange;
    font-size: 20px;
    margin: 0 7px;
    right: 0;
}

.lista p{
    
    margin: 2em 0;
    color: #ccc;
    padding: 0 10px;
}



.reservas,
.busca_usuario
{
    box-shadow: 2px 2px 3px black;
    width: 180px;
    background-color: green;
    height: 30px;
    align-items: center;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
   
    
}
.confirmarReservaTrue {
    margin: 3em 0;
    color: rgb(32, 163, 32);
 }

 .confirmarReservaFalse{
    margin: 3em 0;
    color: red;
 }



.sobre {
    margin: 0 auto;
}



.sobre h2{
    color: orange;
    text-align: center;
    width: 100%;
    height: auto;
    margin:0 auto;
    margin-top: 1em;
   
    
 }

 .endereco {
    display: flex;
    margin:2em auto;
    justify-content: space-between;
    padding: 20px 0;
    
    width: 100%;
    height:auto;
    position: relative;
    background-image: url("/imagens/burger.jpg");
    background-size: cover;
    background-position-x: right;
    
 }
 
 .endereco ul {
  display: block;
  justify-content: center;
  margin:  0 auto ;
  width: 100%;
  height: auto;
 
  
  
 
 }

 .horario {
   margin: 0 auto;
   max-width:  800px ;
   min-width: 400px;
   flex-wrap: wrap;
   width: auto;
   
   
 }

 .horario  ul{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 3em;
    position: static;
    border-radius: 30px;
    width: auto;
    flex-wrap: wrap;
 }

 .endereco ul li {
    color: #fff;
    margin: 10% auto;
    font-size: 23px;
    font-weight: lighter;
    border-bottom: 1px solid #fff;
    flex-wrap: wrap;
    width: auto;
    text-transform: uppercase;
    text-align: center;
 }

.lista_endereco {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin:0.5em auto;
    height: auto;
    border-radius: 30px;
    background-color: #333;
    opacity: 85%;
    filter:drop-shadow(4px 4px 6px black);
    width: 600px;
 }

 .lista_endereco  span {
    font-weight: bolder;
    font-size:26px;
    font-style: italic;
    color: #ccc;
    padding: 0;
    flex-wrap: wrap;
    margin: 0 ;
    width: auto;
 }


 

 .buscar h2,
 .delete h2 {
    color: #ccc;
    text-align: center;
    margin: 2em 0;
 }
 
 .deleteAll {
    padding:2em ;
    border: 1px solid #ccc;
    border-radius: 35px;
    margin: 5em auto;
    color: #ccc;
    text-align: center;
    text-transform:  uppercase;
    width: 100%;
 }

 .deletetudo {
    margin: 1em auto;
    padding: 2em;
    width:100% ;
    min-width: 50%;
   

 }

 .formdelete {
    margin: 0 -5em;
    padding: 0 -50%;
 }

 .redbutton {
 
   margin: 10%;
   margin-right: 70%;
   width:80%;
   min-width: 2%;
  
 }

 .deleteAll input{
    background-color: red;
    color: #fff;
    width: 60%;
 }


 .rodape {
    display: flex;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    background-color: #333;
    color: #ccc;
    padding: 10px 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
}

.rodape p {
    color: #ccc;
    line-height: 25px;
    
}

.rodape h2 {
    font-size: 16px;
    align-items: center;
    line-height: 25px;
}

   